In [15]:
import pandas as pd

data = pd.read_csv('./../data/raw/texas_regions.csv')
data2 = pd.read_csv('./../data/raw/regions.csv')
data.head()

     County Density
0  Anderson   54.51
1   Andrews    12.4
2  Angelina  108.28
3   Aransas   94.54
4    Archer    9.48

In [16]:
data.

,County\nNumber,County\nName,FIPS\nCode,Public Health\nRegion,Health Service\nRegion
0,1,Anderson,48001,4,4/5N
1,2,Andrews,48003,9,9/10
2,3,Angelina,48005,5,4/5N
3,4,Aransas,48007,11,11
4,5,Archer,48009,2,2/3

In [7]:
data.shape

(254, 2)

In [10]:
data.loc[data["County"] == "Anderson"]

     County Density
0  Anderson   54.51

In [25]:
data2["Regions"] = data2["Public Health\nRegion"]

In [28]:
north = [1,9,8]
plains = [2,3,7]
west = [10]
east = [3,5,6,11]

In [41]:
df = data2[["Regions","County\nName"]]

In [42]:
df.head()

   Regions County\nName
0        4     Anderson
1        9      Andrews
2        5     Angelina
3       11      Aransas
4        2       Archer

In [44]:
df["County"] = df["County\nName"]
df.drop("County\nName", axis=1, inplace=True)

/tmp/ipykernel_111532/2814533987.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["County"] = df["County\nName"]
/tmp/ipykernel_111532/2814533987.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop("County\nName", axis=1, inplace=True)

In [46]:
great_plains = df.loc[df['Regions'].isin(north)]
coastal_plains = df.loc[df['Regions'].isin(east)]
basin = df.loc[df['Regions'].isin(west)]
north_central = df.loc[df['Regions'].isin(plains)]

print(great_plains.shape)
print(coastal_plains.shape)
print(basin.shape)
print(north_central.shape)

(99, 2)
(66, 2)
(6, 2)
(79, 2)

In [48]:
great_plains.head()

   Regions     County
1        9    Andrews
5        1  Armstrong
6        8   Atascosa
8        1     Bailey
9        8    Bandera

In [38]:
data.head()

     County Density
0  Anderson   54.51
1   Andrews    12.4
2  Angelina  108.28
3   Aransas   94.54
4    Archer    9.48

In [51]:
great_plains_counties = great_plains["County"].unique()

coastal_plains_counties = coastal_plains["County"].unique()

basin_counties = basin["County"].unique()

north_central_counties = north_central["County"].unique()

In [54]:
great_plains_density = data.loc[data['County'].isin(great_plains_counties)]

coastal_plains_density = data.loc[data['County'].isin(coastal_plains_counties)]

basin_counties_density = data.loc[data['County'].isin(basin_counties)]

north_central_counties_density = data.loc[data['County'].isin(north_central_counties)]

In [69]:
great_plains_density.dtypes

great_plains_density["Density"] = great_plains_density["Density"].replace(",","")

great_plains_density["Density"] = great_plains_density["Density"].astype(float)

/tmp/ipykernel_111532/498576714.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  great_plains_density["Density"] = great_plains_density["Density"].replace(",","")

ValueError: could not convert string to float: '1,620.00'

In [68]:
great_plains_density.dtypes

County     object
Density    object
dtype: object